body {
  background-image: url('https://i.ibb.co/6bqJ2H6/21.jpg');
  background-size: cover;
  /* Чтобы изображение занимало всю доступную площадь */
  background-repeat: no-repeat;
  /* Избегаем повторения изображения */
  background-attachment: fixed;
  /* Фиксируем изображение при прокрутке страницы */
}

.content__description {
  background-color:#d4f005;
}

p {
  color: black
}
